.white {
  background-color: white;
}

.lightcoral {
  background-color: lightcoral;
}

.circle {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.circle-area {
  display: none;
}
